.accordion {
	width: 100%;
	margin: 0 auto;
}

.accordion-trigger {
	margin: 0;
	padding: 10px;
	display: block;
	background: #333;
	color: #FFF;
	border-top: 1px solid #fff;
}

.accordion-trigger:hover{
	background-color: black;
}

.accordion-contents {
	margin: 0;
	padding: 10px;
	border: 1px solid #ccc;
	display: none;
}
